@font-face {
    font-family: 'TTLakes';
    src: url('fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
    url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Regular.woff') format('woff'),
    url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}
button {
    cursor: pointer;
}

body {
    font-family: 'TTLakes';
    background-color: aqua;
    padding: 0;
    margin: 0 auto;
}
.wrapper {
    min-height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}
.container {
    background-color: #F8F8F8;
    min-height: 100vh;
    /* width: 320px; */
}
.menu {
    margin: 0 auto;
    background-color: white;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu__button-menu {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF3E79;
    border: none;
    outline: none;
}
.menu__button-menu:hover {
    transform: scale(1.1);
}
.main-info {
    margin: 0 auto;
    height: 100%;
}
.page-title {
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.page-title__bar {
    height: 40px;
}
.page-title__title {
    margin-top: 24px;
    margin-left: 2%;
    font-size: 28px;
}
.select-section {
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-self: center;
    overflow: scroll;
}
::-webkit-scrollbar {
    width: 0;
    background: rgba(255, 255, 255, 0.0);
}
.select-section__button:focus {
    height: 40px;
    background-color: white;
    border: 2px solid #B8FFEC;
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 5%;
    margin-left: 3%;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 100%;
}

.select-section__button {
    outline: none;
    height: 40px;
    background-color: #F8F8F8;
    border: none;
    flex-basis: 246px;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 100%;
}
/* .select-section__button:active {
    height: 40px;
    background-color: white;
    border: 2px solid #B8FFEC;
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 5%;
    margin-left: 3%;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 100%;
} */
.about {
    margin: 0 auto;
    display: flex;
    background-color: #F8F8F8;
}
.about__text {
    margin-left: 3%;
    margin-right: 5%;
    width: 90%;
}
.read-next {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.read-next__logo {
    height: 11px;
    width: 8px;
    margin-left: 6%;
}
.read-next__button {
    font-size: 100%;
    border: none;
    background-color: #F8F8F8;
    margin-left: 2%;
}
.read-next__hidden {
    margin-left: 3%;
    display: none;
    margin-right: 5%;
    padding-bottom: 3%;
    width: 90%;
}
.photo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.photo__img {
    margin-top: 5%;
    margin-bottom: 5%;
    object-fit: cover;
}

@media screen and (min-width:700px) {
    .container {
        width: 100%;
    }
    .menu {
        display: flex;
        justify-content: space-around;
    }
    .img-menu1 {
        margin-right: 40%;
    }
    .select-section {
        margin-top: 2%;
    }
    .wrapper-test {
        display: flex;
    }
    .photo {
        margin-right: 4%;
    }
}
@media screen and (min-width: 1120px) {
    .container {
        width: 100;
    }
    .menu {
        display: flex;
    }
    .select-section {
        display: flex;
        background-color: #F8F8F8;
        overflow: visible;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-right: 3%;
    }
    .select-section__button:focus {
        height: 40px;
        width: 248px;
        background-color: white;
        border: 2px solid #B8FFEC;
        box-sizing: border-box;
        border-radius: 6px;
        margin-right: 5%;
        margin-left: 3%;
        flex-grow: 1;
        flex-shrink: 0;
        font-size: 100%;
    }
    .button {
        max-width: fit-content;
        margin: 0;
    }
    .wrapper-test {
        display: flex;
        margin-top: 3%;
    }
    .read-next {
        margin-top: 2%;
    }
    .read-next__hidden {
        margin-left: 4%;
        margin-top: 0;
        width: 90%;
    }
    .photo {
        margin-right: 10%;
        margin-top: 1%;
        width: 30%;
        height: 30%;
    }
    .photo__img {
        width: 450px;
        height: 320px;
    }
    .about__text {
        margin-left: 4%;
        margin-right: 5%;
        width: 70%;
    }
}